  <div ng-controller="AuthenticationController as auth">
      <!-- begin login form -->
      <form class="login-form" ng-submit="auth.login()" ng-if="!auth.isAuthenticated">
          <input class="login-input" type="text" placeholder="email" ng-model="auth.email">
          <input class="login-input" type="password" placeholder="password" ng-model="auth.password">
          <input type="submit" value="Log in" class="btn btn-submit">
      </form>
      <!-- end login form -->

  </div>

<div class="jumbotron" ng-init="dogsCtrl.getDogIndex()">
  <h1 class="text-center">A Dog App</h1>
</div>

<a href="#/new"><button class="btn">New Dog</button></a>

<section>
  <ul>
    <li ng-repeat="dog in dogsCtrl.jsonDogs">{{dog.name}} - {{dog.age}}
    <div>
      <button class="btn"><a href="#/dogs/{{dog.id}}">Show</a></button>
      
      <button class="btn">Edit</button>
      <button class="btn">Delete</button>
    </div>
    </li>
  </ul>
</section>